@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Be Vietnam Pro', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;

}

/* Common styles */
section {
	height: 100vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* overflow: hidden; */

}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

.actives {
	color: rgb(255, 255, 255);
	font-size: 30px;
}

.btn {
	outline: 0;
	border: 0;
	padding: 15px 20px;
	background-color: #E83A59 !important;
	color: white !important;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	transition: 0.5s ease-out;
}

.btn:hover {
	box-shadow: 0px 7px 0 #660c1d90;
	top: -5px;
}

.primary-color {
	color: #fd6581;
}

.section-title {
	font-size: 1.8em;
	/* text-align: center; */
	margin: 30px 0;
	font-weight: bold;
}

/* header style */
/* header>nav {
	height: 70px;
	width: 100%;
	background-color: hsla(349, 84%, 53%, 0.641);
	backdrop-filter: blur(4px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 100;
} */

/* .navbar {
	background-color: hsla(349, 84%, 53%, 0.641);
	backdrop-filter: blur(4px);
} */

.nav-icon {
	margin-left: 5%;
}

.nav-icon img {
	width: 200px;

}

.nav-menu {
	margin-right: 5%;
}

.nav-menu>ul {
	list-style: none;
	display: flex;
}

.nav-menu>ul>li {
	margin: 0 20px;

}

.navbar-nav>li>a {
	text-decoration: none;
	color: rgb(255, 255, 255) !important;
	font-size: 1.1em;
	padding: 10px 0;
	font-weight: 600;
}

.navbar-nav>li>a {
	text-align: center !important;
}

/* Home section style */
.home-section {
	background-image: url(../images/cloud.png);
	background-color: rgba(0, 0, 0, 0.71);
	background-blend-mode: overlay;

}

.home {
	/* position: absolute;
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -50%); */
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.home-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

}

.home-left>h1 {

	color: white;
	margin-bottom: 40px;
}

.home-left>p {
	font-size: 18px;
	color: white;
	margin-bottom: 30px;
}

.home-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.home-right img {
	width: 500px
}

*/

/* Feature Section */
.feature-section {
	background-color: rgb(255, 255, 255);
}

.feature {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.features {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	justify-items: center;
	justify-content: center;
}

.feature-item {
	width: 350px;
	background-color: #ff496a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	transition: 0.3s ease-in-out;
}

.feature-item:hover {
	transform: scale(1.1);
	/* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
	/* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.feature-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	color: #E83A59;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	margin-bottom: 8px
}

.feature-details>h2 {
	margin-bottom: 8px;
	font-size: 18px;
}

.feature-details>p {
	margin-bottom: 8px;
	font-size: 13px;
}

.feature-details>a {
	text-decoration: none;
	font-size: 11px;
	color: rgba(255, 255, 255, 0.869);
}

/* /About Section style */
.about {
	height: 100%;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-title {
	font-size: 2.5em;
	font-weight: bold;
}

.about-details1 {
	margin-bottom: 30px;
	font-size: 1.2em;
	text-align: justify;
}

.about-details2 {
	font-size: 1.1em;
	font-weight: bold;
	text-align: justify;
}

/* Gallery section style */

.gallery {
	width: 92%;
	height: 100%;
	/* background-color: rebeccapurple; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gallery-title {
	text-align: center;
}

.galleries {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: 20px;
	justify-content: center;
	justify-items: center;

}

.gallery-item {
	width: 235px;
	height: 150px;
	/* border: 5px solid #E83A59; */
	position: relative;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	transition: 1s ease-in-out;

}

.gallery-item:hover {
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.overley {
	width: 100%;
	height: 150px;
	position: absolute;
	z-index: 100;
}

.gallery-item:hover .overley {
	background-color: #00000041;
}

.photo img {
	width: 235px;
	height: 150px;
	background-position: center center;
	height: 150px;
	border-radius: 5px;
	z-index: 1;
}

.gallery-item:hover .photo img {
	transform: scale(1.3);
	transition: transform 1s ease-in-out;
}

/* Contact Section Styles */
.contact {
	/* background-color: blue; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-title {
	text-align: center;
}

.contact-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 50px;
}

.contact-left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-left img {
	width: 350px;
}

.contact-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-right input[type=text] {
	width: 400px;
	height: 50px;
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 10px 15px;
	font-size: 1.2em;
	border: 3px solid #E83A59;
	border-radius: 5px;
}

.contact-right input[type=email] {
	width: 400px;
	height: 50px;
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 10px 15px;
	font-size: 1.2em;
	border: 3px solid #E83A59;
	border-radius: 5px;
}

.contact-right textarea {
	width: 400px;
	height: 250px;
	resize: none;
	padding: 10px 15px;
	font-size: 1.2em;
	border: 3px solid #E83A59;
	border-radius: 5px;
}

/* footer section styles */
footer {
	height: 100px;
	background-color: #E83A59;
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

footer>p {
	color: white;
	font-size: 1.1em;
}

/* Media Query */
@media screen and (max-width:768px) {


	.home-left>h1 {}



	/* .contact-left img {
		width: 250px;
	} */
}

@media screen and (max-width: 992px) {
	/* .navbar-expand-lg .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
		justify-content: flex-end;
	} */

	.home {
		grid-template-columns: 1fr !important;
	}

	.home-left>h1 {
		margin-top: 150px;
	}

	.home-right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.home-right>img {
		width: 50%;
	}

	.galleries {
		grid-template-columns: 1fr 1fr;
	}

	.contact-title {
		margin-top: 70px;
		margin-bottom: 20px;
	}

	.contact-info {
		grid-template-columns: 1fr;
		column-gap: 50px;
	}

	.contact-left>img {
		width: 170px;
		margin-bottom: 30px;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
	}

	.contact-right input[type=text] {
		width: 350px;
		height: 35px;
		background-color: #ffffff;
		margin-bottom: 0px;
		padding: 10px 10px;
		font-size: 16px;
		border: 3px solid #E83A59;
		border-radius: 5px;
	}

	.contact-right input[type=email] {
		width: 350px;
		height: 35px;
		background-color: #ffffff;
		margin-bottom: 0;
		padding: 10px 10px;
		font-size: 16px;
		border: 3px solid #E83A59;
		border-radius: 5px;
	}

	.contact-right textarea {
		width: 350px;
		height: 200px;
		resize: none;
		padding: 10px 10px;
		font-size: 16px;
		border: 3px solid #E83A59;
		border-radius: 5px;
	}

}


@media screen and (max-width: 772px) {

	.feature-section {
		height: 1200px;
		padding-top: 80px;
	}


	.features {
		grid-template-columns: 1fr;

	}

}

@media screen and (max-width: 600px) {

	.gallery-section {
		padding-top: 550px;
		height: 700px;
	}

	.galleries {
		grid-template-columns: 1fr;

	}

	.gallery-item {
		width: 280px;
		height: 180px;


	}

	.photo img {
		width: 280px;
		height: 180px;
	}

	.overley {
		height: 180px;
	}

	.contact-section {
		margin-top: 600px;
	}
}

@media screen and (max-width: 420px) {
	.nav-icons {
		width: 150px;

	}

	.feature-section {
		padding-top: 140px;
	}

	.about-section {
		margin-top: 100px;
	}

	.gallery-section {
		padding-top: 700px;
	}

	.feature-item {
		width: 220px;
		background-color: #ff496a;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 15px;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
		transition: 0.3s ease-in-out;
	}

	.contact-title {
		margin-top: 20px;
	}

	.contact-right input[type=text] {
		width: 250px;
		height: 30px;
		background-color: #ffffff;
		margin-bottom: 0px;
		padding: 10px 10px;
		font-size: 14px;
		border: 3px solid #E83A59;
		border-radius: 5px;
	}

	.contact-right input[type=email] {
		width: 250px;
		height: 30px;
		background-color: #ffffff;
		margin-bottom: 0;
		padding: 10px 10px;
		font-size: 14px;
		border: 3px solid #E83A59;
		border-radius: 5px;
	}

	.contact-right textarea {
		width: 250px;
		height: 150px;
		resize: none;
		padding: 10px 10px;
		font-size: 14px;
		border: 3px solid #E83A59;
		border-radius: 5px;
	}

	footer>p {
		margin-top: -50px;
		font-size: 14px;
		padding: 0 10px;
		text-align: center;
	}

}