@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Be Vietnam Pro', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Common styles */
section {
	height: 100vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

.btn {
	outline: 0;
	border: 0;
	padding: 15px 20px;
	background-color: #E83A59;
	color: white;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	transition: 0.5s ease-out;
}

.btn:hover {
	box-shadow: 0px 7px 0 #660c1d90;
	top: -5px;
}

.primary-color {
	color: #fd6581;
}

.section-title {
	font-size: 2.5em;
	/* text-align: center; */
	margin: 40px 0;
	font-weight: bold;
}

/* header style */
header>nav {
	height: 70px;
	width: 100%;
	background-color: hsla(349, 84%, 53%, 0.641);
	backdrop-filter: blur(4px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 100;
}

.nav-icon {
	margin-left: 5%;
}

.nav-icon img {
	width: 200px;

}

.nav-menu {
	margin-right: 5%;
}

.nav-menu>ul {
	list-style: none;
	display: flex;
}

.nav-menu>ul>li {
	margin: 0 20px;

}

.nav-menu>ul>li>a {
	text-decoration: none;
	color: white;
	font-size: 1.1em;
	padding: 10px 0;
	font-weight: 600;
}

/* Home section style */
.home-section {
	background-image: url(../images/cloud.png);
	background-color: rgba(0, 0, 0, 0.71);
	background-blend-mode: overlay;
}

.home {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.home-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

}

.home-left>h1 {
	font-size: 3em;
	color: white;
	margin-bottom: 40px;
}

.home-left>p {
	font-size: 18px;
	color: white;
	margin-bottom: 30px;
}

.home-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/* Feature Section */
.feature-section {
	background-color: rgb(255, 255, 255);
}

.feature {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.features {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	justify-items: center;
}

.feature-item {
	width: 300px;
	background-color: #ff496a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	transition: 0.3s ease-in-out;
}

.feature-item:hover {
	transform: scale(1.1);
	/* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
	/* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.feature-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	color: #E83A59;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	margin-bottom: 10px
}

.feature-details>h2 {
	margin-bottom: 10px;
	font-size: 1.2em;
}

.feature-details>p {
	margin-bottom: 10px;
	font-size: 14px;
}

.feature-details>a {
	text-decoration: none;
	font-size: 11px;
	color: rgba(255, 255, 255, 0.869);
}

/* /About Section style */
.about {
	height: 100%;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-title {
	font-size: 2.5em;
	font-weight: bold;
}

.about-details1 {
	margin-bottom: 30px;
	font-size: 1.5em;
}

.about-details2 {
	font-size: 1.3em;
	font-weight: bold;
}

/* Gallery section style */

.gallery {
	width: 100%;
	height: 100%;
	/* background-color: rebeccapurple; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gallery-title {
	text-align: center;
}

.galleries {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	gap: 50px;
	justify-content: center;
}

.gallery-item {
	width: 300px;
	height: 225px;
	/* border: 5px solid #E83A59; */
	position: relative;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	transition: 1s ease-in-out;

}

.gallery-item:hover {
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.overley {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
}

.gallery-item:hover .overley {
	background-color: #00000041;
}

.photo img {
	width: 300px;
	height: 225px;
	border-radius: 5px;
	z-index: 1;
}

.gallery-item:hover .photo img {
	transform: scale(1.3);
	transition: transform 1s ease-in-out;
}